@model PetServiceWebApplication.Models.ProviderInfoDTO

<div class="container py-5">
    <div class="row mb-4">
        <div class="col-md-8">
            <h1 class="text-primary">@Model.Provider.Name</h1>
            <p>
                <i class="bi bi-geo-alt"></i> @Model.Provider.Address <br/>
                <i class="bi bi-telephone"></i> @Model.Provider.Phone <br/>
                <i class="bi bi-envelope"></i> <a href="mailto:@Model.Provider.Email">@Model.Provider.Email</a> <br/>
            </p>
        </div>
        <ul>
            @foreach (var service in Model.Services)
            {
                <li>
                    <h5>@service.Name</h5>
                    <p>@service.Description</p>
                    <p><strong>Price:</strong> $@service.Price</p>
                    <a href="@Url.Action("GetReviewsByService", "Review", new { serviceId = service.Id })">
                        Reviews
                    </a>
                </li>
            }
        </ul>
        <div class="col-md-4">
            <img src="~/images/default-image.jpg" class="img-fluid rounded" alt="Pet Service Provider Image">
        </div>
    </div>
</div>