@model List<PetServiceWebApplication.Models.PetServiceProvider>

<div class="container py-5">
    @if (!Model.Any())
    {
        <div class="text-center">
            <p class="text-muted">No service providers found.</p>
        </div>
    }
    else
    {
        @foreach (var provider in Model)
        {
            <div style="cursor: pointer" class="row mb-4 p-3 border rounded bg-light shadow-sm"
                 onclick="window.location.href='@Url.Action("GetProviderWithServices", "PetServiceProvider", new { id = provider.Id })'">
                <div class="col-md-8">
                    <h3 class="text-primary">@provider.Name</h3>
                    <p>
                        <i class="bi bi-geo-alt"></i> @provider.Address <br />
                        <i class="bi bi-telephone"></i> @provider.Phone <br />
                        <i class="bi bi-envelope"></i> <a href="mailto:@provider.Email">@provider.Email</a>
                    </p>
                </div>
                <div class="col-md-4 d-flex align-items-center">
                    <img src=provider.Image class="img-fluid rounded" alt="Provider Image">
                </div>
            </div>
        }
    }
</div>
